.shape {
  margin: 8px;
  padding: 1px;
  border: 1px solid white;
}

#colors {
  margin: 10px;
}

table {
  width: 63px;
  height: 63px;
}

.selected {
  border: 1px solid grey;
}

.cell {
  width: 100%;
  height: 100%;
}
