table {
  margin: 10px;
  border-spacing: 0px;
  width: 65px;
  height: 65px;
}

.selected {
  border: 1px solid grey;
}
.cell {
  width: 100%;
  height: 100%;
}

.dead {
  background-color: whitesmoke;
}

.selected {
  border: 1px solid black;
}
