
<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    SimCellular
  </h1>
</div> -->
<div id="board">
  <div id="title">simcellular</div>
  <app-board [selectedShape]="selectedShapeParent" [childColorBag]="colorBag"></app-board>
  <div id="library">
    <app-library (shapeSender)="recieveShape($event)" (colorSender)="recieveColor($event)" [childColorBag]="colorBag"></app-library>
  </div>
  <div id="about"><a href='https://github.com/rhofvendahl/visual_parse' target='_blank'>about</a></div>
</div>
