#board {
  position: relative;
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 10%;
}

#library {
  position: absolute;
  top: -4px;
  right: 605px;
}
#title {
  position: absolute;
  float: right;
  color: grey;
  font-size: 60px;
  right: 0px;
  top: -75px;
  font-family: 'Open Sans Condensed', sans-serif;
}
#about {
  color: grey;
  font-size: 50px;
  margin-top: -20px;
  font-family: 'Open Sans Condensed', sans-serif;
}
