<div id="board">
  <table>
    <tr *ngFor="let row of game.board">
      <td *ngFor="let cell of row" class="cell" [ngStyle]="cellStyle(cell)" (click)="clickCell(cell)">
      </td>
    </tr>
  </table>
</div>

<br>
<div class="button">
  <button id="stateButton" (click)="togglePlay()">{{togglePlayButton()}}</button>
</div>
<div class="button">
  <button id="nextButton" (click)="nextState()">Next</button>
</div>
<div id="controls">
  <span (click)="stepForward()" class="glyphicon glyphicon-step-forward"></span>
  <span (click)="pause()" class="glyphicon glyphicon-pause"></span>
  <span (click)="play()" class="glyphicon glyphicon-play"></span>
  <span (click)="fastForward()" class="glyphicon glyphicon-forward"></span>
  <span (click)="clear()" class="glyphicon glyphicon-stop"></span>
  <span (click)="random()" class="glyphicon glyphicon-random"></span>
</div>
